- - - - - - - - - - R I T - W I T R - - - - - - - - -
Use of RIT information technology resources is actively
monitored and audited, unauthorized use is prohibited.

This resource is managed by WITR. Any persons without
permission from the Chief Engineer are trespassed.
- - - - - - - - - - R I T - W I T R - - - - - - - - -

This system is managed by Ansible.

This system uses doas(1) for privilege escalation.
    For more information, run 'man 1 doas'
    Do not install sudo(1)

Remote logs tell us if you do dumb things :)
